/* _baseStyles.scss */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%; 
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 96%;
    margin: 0 auto;
}

.innerWrapper {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2 {
    transform: rotate(-90deg);
    width: 0;
    position: relative;
    top: 110px;
    left: 20px;
    white-space: nowrap;
}

h3 {
    padding: 0 15px;
    margin: 1.5rem 0 2rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

span {
    margin: 0;
}