/* nav.scss */

.navBar {
    width: 100%;
    padding-top: 2rem;
    position: fixed;
    z-index: 10;
    a, .socials, label {
        display: inline-block;
    }
    a {
        color: $secondary;
        &:hover span,
        &:focus span {
            color: $primary;
            transition: color 0.7s ease-out;
        }
    }
    .socials {
        margin-left: 200px;
        i {
            font-size: 0.8rem;
            padding: 0 1.5rem;
        }
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
    }
    .menuBars {
        cursor: pointer;
        float: right;
        i {
            font-size: 0.8rem;
        }
        &:hover i,
        &:focus i {
            color: $primary;
            transition: color 0.7s ease-out;
        } 
    }
}

.socials {
    a:hover i,
    a:focus i{
        color: $primary;
        transition: color 0.7s ease-out;
    } 
}

.slideOutNav {
    flex-direction: column;
    width: 35%;
    background-color: $body;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    left: -1000px;
}

.sideNav, .sidNav {
    width: 30px;
}

.sideNav {
    position: fixed;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    li, span {
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
    li {
        background-color: $solidWhite;
        margin: 1rem auto;
        &:hover,
        &:focus {
            background-color: $primary;
        }
    }
    span {
        display: block;
        margin: 0 auto;
    }
}