@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.025em;
    line-height: 2;
}


h1, h2, h3, h4 {
    color: $solidWhite;
}

h1 {
    font-size: 3.55rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.05em;
}

h2 {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.025em;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
}

p {
    font-size: 0.6rem;
    color: $secondary;
    letter-spacing: 0.1em;
}

.slider p {
    font-size: 1rem;
}
.logo {
    color: $solidWhite;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.025em;
}

i {
    color: $solidWhite;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    color: $solidWhite;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    color: $solidWhite;
    line-height: 1.4;
    letter-spacing: 0.025em;
}