/* _variables.scss */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// site fonts
$headingFont: "Poppins', sans-serif";
$bodyFont: "Poppins', sans-serif";

// site colors
$primary: #f3ca2f; 
$secondary: #7e7e7e; 
$tertiary: #272727;
$solidBlack: #000;
$solidWhite: #fff;

