/* _setup.scss */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* _variables.scss */
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.025em;
  line-height: 2;
}

h1, h2, h3 {
  color: #fff;
}

h1 {
  font-size: 3.55rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0;
}

p {
  font-size: 0.6rem;
  color: #fff;
  letter-spacing: 0.1em;
}

a {
  color: #7e7e7e;
}

i {
  color: #fff;
}

input, textarea {
  font-size: 0.6rem;
  color: #fff;
}

button {
  font-size: 0.6rem;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 0.025em;
}

/* _baseStyles.scss */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  width: 96%;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 0;
  position: relative;
  top: 100px;
  left: 20px;
  white-space: nowrap;
}

h3 {
  padding: 0 15px;
  margin-bottom: 3.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

span {
  margin: 0;
}

/* nav.scss */
.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navBar .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.navBar label {
  cursor: pointer;
}

.slideOutNav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  background-color: #272727;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  left: -1000px;
}

/* _header.scss */
/* _sections.scss */
.introduction, .myProjects {
  background-color: #ffdfa4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
}

.introduction, .whatIDo, .myProjects, .resume, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introduction .wrapper, .whatIDo .wrapper, .myProjects .wrapper, .resume .wrapper, .contact .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction {
  background-image: url("../assets/intro-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.introduction .textContainer {
  width: 50%;
  padding: 0 15px;
}
.introduction p {
  margin-bottom: 1.7rem;
}
.introduction h1 span {
  color: #f3ca2f;
}
.introduction .line {
  width: 4.5rem;
  height: 0.17rem;
  background-color: #f3ca2f;
  position: absolute;
  margin-top: 10vh;
}

.whatIDo .aboutMe {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whatIDo .textContainer, .whatIDo .imgContainer {
  width: 50%;
  padding: 0 15px;
}
.whatIDo .textContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.whatIDo .imgContainer {
  border: 1px dotted white;
  max-width: 470px;
  height: 490px;
}

.myProjects .featured {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.myProjects .projectBox {
  width: 25%;
  padding: 0 15px;
  margin-top: 30px;
}
.myProjects a {
  display: block;
  position: relative;
  padding-bottom: 75%;
  border: 1px solid #fff;
}
.myProjects .textContainer {
  position: absolute;
  padding: 2rem 1.5rem;
}
.myProjects .textContainer p {
  color: #cccccc;
  margin-top: 0.5r;
}

.resume .skills {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resume li {
  width: 16.6666666667%;
  padding: 5rem 0;
  min-width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resume i {
  font-size: 3rem;
}

.contact {
  background-image: url("../assets/contact-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.contact .formName, .contact .formEmail, .contact .formSubject, .contact .formMessage {
  padding: 0 15px;
  margin-bottom: 30px;
}
.contact .formName, .contact .formEmail {
  display: inline-block;
  width: calc(50% - 3px);
}
.contact input, .contact textarea {
  width: 100%;
  background-color: #333;
  padding: 0.2rem 1rem 0;
  border: 0;
}
.contact input {
  height: 3.6em;
}
.contact textarea {
  display: block;
  height: 15rem;
  resize: none;
}
.contact button {
  width: 20%;
  margin: 0 15px;
  background-color: #000;
  padding: 1.1em 2.3em;
}