/* _setup.scss */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* _variables.scss */
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.025em;
  line-height: 2;
}

h1, h2, h3, h4 {
  color: #fff;
}

h1 {
  font-size: 3.55rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0;
}

p {
  font-size: 0.6rem;
  color: #7e7e7e;
  letter-spacing: 0.1em;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.025em;
}

i {
  color: #fff;
}

input, textarea {
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  color: #fff;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 0.025em;
}

/* _baseStyles.scss */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  width: 96%;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 0;
  position: relative;
  top: 110px;
  left: 20px;
  white-space: nowrap;
}

h3 {
  padding: 0 15px;
  margin: 1.5rem 0 2rem;
  -webkit-text-decoration: underline #f3ca2f 0.17rem;
          text-decoration: underline #f3ca2f 0.17rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

span {
  margin: 0;
}

.highlight {
  color: #f3ca2f;
}

/* nav.scss */
.navBar {
  width: 100%;
  padding-top: 2rem;
  position: fixed;
  z-index: 90;
}
.navBar a, .navBar .socials, .navBar label {
  display: inline-block;
}
.navBar .socials {
  margin-left: 200px;
}
.navBar .socials i {
  font-size: 0.8rem;
  cursor: pointer;
}
.navBar .socials i:hover, .navBar .socials i:focus {
  color: #f3ca2f;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}
.navBar a {
  color: #7e7e7e;
  height: 0px;
  margin: 0 1.5rem;
}
.navBar a:hover span, .navBar a:focus span {
  color: #f3ca2f;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}
.navBar input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.navBar input[type=checkbox]:checked ~ .slideOutNavVWBg, .navBar input[type=checkbox]:checked ~ .slideOutNav {
  right: 0;
}
.navBar input[type=checkbox]:checked ~ .slideOutNavVWBg ul, .navBar input[type=checkbox]:checked ~ .slideOutNavVWBg .slideSocials, .navBar input[type=checkbox]:checked ~ .slideOutNavVWBg p, .navBar input[type=checkbox]:checked ~ .slideOutNav ul, .navBar input[type=checkbox]:checked ~ .slideOutNav .slideSocials, .navBar input[type=checkbox]:checked ~ .slideOutNav p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.navBar .menuBars {
  cursor: pointer;
  float: right;
}
.navBar .menuBars i {
  font-size: 0.9rem;
}
.navBar .menuBars:hover i, .navBar .menuBars:focus i {
  color: #f3ca2f;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}

.scrollActive {
  background-color: #272727;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.slideOutNavVWBg {
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 95;
  right: -110%;
}

.slideOutNav {
  width: 35%;
  background-color: #272727;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding-left: 5%;
  right: -50%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.slideOutNav .flexContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.slideOutNav button {
  background-color: #272727;
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-right: 2vw;
  line-height: 1;
  cursor: pointer;
}
.slideOutNav button:hover, .slideOutNav button:focus {
  color: #f3ca2f;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}
.slideOutNav .mainMenu {
  height: 100%;
}
.slideOutNav a {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  margin: 0;
}
.slideOutNav a:hover, .slideOutNav a:focus {
  color: #fff;
}
.slideOutNav ul {
  position: absolute;
  width: 75%;
  top: 7rem;
  bottom: 8rem;
  overflow-y: auto;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: opacity 0.5s 0.4s ease, -webkit-transform 0.5s 0.4s ease;
  transition: opacity 0.5s 0.4s ease, -webkit-transform 0.5s 0.4s ease;
  transition: transform 0.5s 0.4s ease, opacity 0.5s 0.4s ease;
  transition: transform 0.5s 0.4s ease, opacity 0.5s 0.4s ease, -webkit-transform 0.5s 0.4s ease;
}
.slideOutNav li {
  margin: 0.6rem 0;
}
.slideOutNav .menuBottom {
  position: absolute;
  bottom: 2.5rem;
}
.slideOutNav .menuBottom .slideSocials {
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: opacity 0.5s 0.6s ease, -webkit-transform 0.5s 0.6s ease;
  transition: opacity 0.5s 0.6s ease, -webkit-transform 0.5s 0.6s ease;
  transition: transform 0.5s 0.6s ease, opacity 0.5s 0.6s ease;
  transition: transform 0.5s 0.6s ease, opacity 0.5s 0.6s ease, -webkit-transform 0.5s 0.6s ease;
}
.slideOutNav .menuBottom a {
  display: inline;
  margin-right: 1rem;
}
.slideOutNav .menuBottom i {
  font-size: 1.1rem;
  color: #7e7e7e;
}
.slideOutNav .menuBottom i:hover {
  color: #f3ca2f;
}
.slideOutNav .menuBottom p {
  color: #fff;
  display: block;
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: opacity 0.5s 0.8s ease, -webkit-transform 0.5s 0.8s ease;
  transition: opacity 0.5s 0.8s ease, -webkit-transform 0.5s 0.8s ease;
  transition: transform 0.5s 0.8s ease, opacity 0.5s 0.8s ease;
  transition: transform 0.5s 0.8s ease, opacity 0.5s 0.8s ease, -webkit-transform 0.5s 0.8s ease;
}

.sideNav, .sidNav {
  width: 30px;
}

.sideNav {
  position: fixed;
  top: 50%;
  right: 2vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 80;
}
.sideNav li, .sideNav span {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.sideNav li {
  background-color: #fff;
  margin: 1rem auto;
}
.sideNav li:hover, .sideNav li:focus {
  background-color: #f3ca2f;
}
.sideNav span {
  display: block;
  margin: 0 auto;
}

/* _sections.scss */
html {
  scroll-behavior: smooth;
  scrollbar-color: #f3ca2f #272727;
}

body {
  background-color: #272727;
}

.introduction, .whatIDo, .myProjects, .resume, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}
.introduction .wrapper, .whatIDo .wrapper, .myProjects .wrapper, .resume .wrapper, .contact .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction {
  background-image: url("../assets/intro-background2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.introduction .textContainer {
  width: 50%;
  padding: 0 15px;
}
.introduction p {
  color: #fff;
  font-size: 0.8rem;
  padding-left: 0.25rem;
  margin-bottom: 1.7rem;
}
.introduction h1 span {
  color: #f3ca2f;
}
.introduction .line {
  width: 4.5rem;
  height: 0.17rem;
  background-color: #f3ca2f;
  position: absolute;
  margin-top: 10vh;
}

.whatIDo .aboutMe {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whatIDo .textContainer, .whatIDo .imgContainer {
  width: 50%;
  padding: 0 15px;
}
.whatIDo .textContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.whatIDo .imgContainer {
  max-width: 470px;
  height: 490px;
}

.myProjects {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.myProjects .projectBackgroundContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}
.myProjects .projectBackgroundContainer .projectBackground {
  background-image: url("../assets/project-bg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.myProjects .projectBackgroundContainer .zoom {
  opacity: 0.5;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 5s ease;
  transition: opacity 0.5s ease, -webkit-transform 5s ease;
  transition: transform 5s ease, opacity 0.5s ease;
  transition: transform 5s ease, opacity 0.5s ease, -webkit-transform 5s ease;
}
.myProjects .wrapper {
  z-index: 2;
}
.myProjects .featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.myProjects .projectBox, .myProjects .projectDisplay {
  padding: 30px 15px;
  margin-top: 0px;
}
.myProjects a {
  display: block;
  position: relative;
  padding-bottom: 75%;
  border: 1px solid #fff;
}
.myProjects a:hover, .myProjects a:focus {
  border: 1px solid #f3ca2f;
  background-color: #f3ca2f;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.myProjects a:hover h4, .myProjects a:focus h4 {
  color: #000;
}
.myProjects a:hover p, .myProjects a:focus p {
  color: #7e7e7e;
}
.myProjects .textContainer {
  position: absolute;
  padding: 2rem 1.5rem;
}
.myProjects .textContainer p {
  color: #cccccc;
  margin-top: 0.5rem;
}
.myProjects .textContainer p:nth-child(3) {
  display: none;
}
.myProjects .projectDisplay {
  grid-column: 1/2;
  grid-row: 1/end;
  overflow: hidden;
  height: 394.8px;
}
.myProjects .projectDisplay a {
  padding-bottom: 0;
  height: 100%;
  overflow-y: auto;
}
.myProjects .projectDisplay .textContainer {
  position: relative;
}
.myProjects .projectDisplay .textContainer p {
  display: block;
}
.myProjects .projectDisplay span {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.myProjects .hovered a {
  background-color: #f3ca2f;
}
.myProjects .hovered h4 {
  color: #000;
}
.myProjects .hovered p {
  color: #7e7e7e;
}

.resume .skills {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.resume li {
  width: 16.6666666667%;
  padding: 5rem 0;
  min-width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resume i {
  font-size: 3rem;
}
.resume .devicon-javascript-plain {
  color: #f3ca2f;
}
.resume p {
  text-align: center;
  padding-top: 0.5rem;
}

.contact .formName, .contact .formEmail, .contact .formSubject, .contact .formMessage {
  padding: 0 15px;
  margin-bottom: 30px;
}
.contact .formName, .contact .formEmail {
  display: inline-block;
  width: calc(50% - 3px);
}
.contact input, .contact textarea {
  width: 100%;
  background-color: #333;
  border: 0;
}
.contact input {
  height: 3.6em;
  padding: 0.2rem 1rem 0;
}
.contact textarea {
  display: block;
  height: 15rem;
  padding: 0.8rem 1rem 0;
  resize: none;
}
.contact button {
  background-color: #000;
  padding: 1.1em 2.3em;
  margin: 0 15px;
  cursor: pointer;
}
.contact button:hover {
  background-color: #f3ca2f;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

footer .wrapper {
  padding: 2.5rem 0;
}
footer .innerWrapper {
  padding: 0 15px;
}

/* _mediaQueries.scss */
@media (max-width: 1250px) {
  .myProjects .featured {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .slideOutNav {
    width: 50%;
  }

  .title {
    display: none;
  }

  .introduction .textContainer {
    width: 100%;
  }

  .whatIDo .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whatIDo .textContainer, .whatIDo .imgContainer {
    width: 100%;
  }
  .whatIDo .imgContainer {
    margin: 5rem 0;
  }

  .myProjects .featured {
    grid-template-columns: repeat(2, 1fr);
  }
  .myProjects .projectDisplay {
    display: none;
  }
  .myProjects .textContainer p:nth-child(3) {
    display: block;
  }
  .resume li {
    width: 20%;
  }
}
@media (max-width: 750px) {
  .innerWrapper {
    width: 100%;
  }

  .introduction, .whatIDo, .myProjects, .resume, .contact {
    padding-top: 90px;
  }

  .navBar .socials {
    display: none;
  }

  .slideOutNav {
    right: -100%;
    width: 100%;
  }

  .sideNav, .sidNav {
    display: none;
  }

  .myProjects .featured {
    grid-template-columns: 1fr;
  }

  .resume li {
    width: 25%;
  }

  .contact .formName, .contact .formEmail {
    width: 100%;
  }
}